body {
    background: #F2E5D5;
    font-family: Arial, Helvitica, sans-serif;
}

h1 {
    color: #8C2C16;
    text-align: center;
}

h2 {
    color: #8C2C16;
}

p {
    color: black;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}


.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: left;
    padding: 0;
}

.project {
    flex: 1 1 calc(33.333% - 20px);
    min-width: 240px;
    max-width: 400px;
    padding: 20px;
    background: #A69853;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.project img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
    object-fit: cover;
}
